
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

#key {
    width: 100px;
    height: 100px;
    /* background-color: #ccc; */
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}

.bounce {
    animation-name: bounce;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-100vh);
    }
    75% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}